@charset "utf-8";
/* CSS Document */


#wrapper {
    background-color: #F8C1F1;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    height: 700px;
}
h1 {
    text-align: center;
    font-size: 50px;
}
a:link {
    color: red
}

a:visited {
	color: red
}
a:hover {
    color: yellow;
    font-weight: bold;
}ul {
    font-size: 30px;
    text-align: center;
    list-style-type: none;
}
